<html>
<head>
  <title>Pick Something</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/frontend/common.css">
  <link rel="stylesheet" href="/frontend/index.css">
</head>
<body>
  <header>
    {% if user_is_logged_in %}
    <span id="current-username">{{username}}</span>
    <span id="username-edit"><i class="fa fa-pencil"></i></span>
    <script src="/frontend/username_edit.js"></script>
    {% else %}
    <span id="current-username">Not Logged In!</span>
    {% endif %}
  </header>
  <section>
    {% if user_is_logged_in %}
    <h1>Create a selection process</h1>
    <ol>
      <li class="gamemode"><a href="/p">PaysHoff Circle</a></li>
      <li class="gamemode"><a href="/">Majority Vote</a></li>
      <li class="gamemode"><a href="/">Select at Random</a></li>
    </ol>
    {% else %}
    <a href="/signup/_" id="signup">Click Here to get an account</a>
    {% endif %}
  </section>
</body>
</html>