<html>
<head>
  <title>Pick Something</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/frontend/common.css">
  <link rel="stylesheet" href="/frontend/payshoff.css">
</head>
<body>
  <header>
    {% if user_is_logged_in %}
    <span id="current-username">{{username}}</span>
    <span id="username-edit"><i class="fa fa-pencil"></i></span>
    <script src="/frontend/username_edit.js"></script>
    {% else %}
    <span id="current-username">Not Logged In!</span>
    {% endif %}
  </header>
  <section>
    {% if user_is_logged_in %}
    {% if can_add %}
    <button id="add-new-item" gameid="{{game_id}}">Add New Item</button>
    {% elif decided %}
    <span>A decision has been made!</span>
    <button id="add-new-item" style="display:none"></button>
    {% else %}
    <span>It's currently {{current_player.name}}'s turn</span>
    <button id="add-new-item" style="display:none"></button>
    {% endif %}
    {% if can_select %}
    <button id="select-item" gameid="{{game_id}}">Select This Item</button>
    {% else %}
    <button id="select-item" style="display:none"></button>
    {% endif %}
    {% if am_admin %}
    <button id="adm-skip" gameid="{{game_id}}">Skip Next User</button>
    {%if kick_on_remove %}
    <button id="adm-toggle" gameid="{{game_id}}">Disable Kick On Remove</button>
    {% else %}
    <button id="adm-toggle" gameid="{{game_id}}">Enable Kick On Remove</button>
    {% endif %}
    {% else %}
    <button id="adm-skip" style="display:none"></button>
    <button id="adm-toggle" style="display:none"></button>
    {% endif %}

    <ol id="game-items">
    {% for option in gameoptions %}
      <li class="item">
        {% if can_remove %}
        <i class="fa fa-trash" option="{{loop.index}}" gameid="{{game_id}}"></i>
        {% endif %}
        <span class="option-name">{{option}}</span>
      </li>
    {% endfor %}
    </ol>
    <ol id="players">
      <li class="title-label">Players:</li>
    {% for player in players %}
      <li class="player">
        {% if am_admin %}
        <i class="fa fa-gavel" name="{{player.uid}}" gameid={{game_id}}></i>
        {% endif %}
        <span class="player-name">{{player.name}}</span>
      </li>
    {% endfor %}
      <li class="title-label">Spectators:</li>
    {% for player in watchers %}
      <li class="player">
        <span class="player-name">{{player.name}}</span>
      </li>
    {% endfor %}
    </ol>
    <script src="/frontend/payshoff.js"></script>
    <script>
      fetch("/p/{{game_id}}/poll").then(_ => {
        window.location.reload();
      });
    </script>
    {% else %}
    <a href="/signup/p?gid={{game_id}}" id="signup">Join this game!</a>
    {% endif %}
  </section>
  <footer>
    {{debug_info}}
  </footer>
</body>
</html>